.Banner__subheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
}

/* .Progress__in{
    background: #fc2c38 !important;
} */

.progress-cell .Cell__children{
    width: 80vw;
}